<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="socket" class="java.net.Socket">
        <constructor-arg value="#{''}"/>
        <constructor-arg value="#{8082}"/>
    </bean>

    <bean id="s1" class="java.net.ServerSocket">
        <constructor-arg value="#{8082}"/>
    </bean>
</beans>