<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ПАРЫ -->
    <bean id="footballPlayer1" class="Football.FootballPlayer">
        <constructor-arg value="#{'Nikita'}"/>
        <constructor-arg value="#{true}"/>
        <constructor-arg value="#{0}"/>
        <constructor-arg value="#{110}"/>
        <constructor-arg value="#{110}"/>
    </bean>
    <bean id="footballPlayer2" class="Football.FootballPlayer">
        <constructor-arg value="#{'Kirill'}"/>
        <constructor-arg value="#{true}"/>
        <constructor-arg value="#{0}"/>
        <constructor-arg value="#{110}"/>
        <constructor-arg value="#{110}"/>
    </bean>

</beans>